---
layout: default
title: 2025年度 夏写真展 「閃光」 作品一覧
---

      <h2>2025年度 夏写真展 「閃光」 作品一覧</h2>
      <p>番号を確認してから投票フォームに進んでください。</p>

      <!-- ギャラリー -->
      <div class="work-gallery">
        <div class="work-card">
          <div class="photo-wrapper" data-full="public-images/2025-summer01_s.jpg">
            <div class="photo" style="background-image: url('public-images/2025-summer01_s.jpg');">
            </div>
            <div class="photo-overlay">
            </div>
          </div>

          <div class="work-info">
            <p class="work-number"><strong>No.01</strong></p>
            <p class="work-title">いかみみのきみもかわいいよ</p>
            <p class="work-author">MN</p>
            <p class="work-camera">Olympus EM-5 markⅢ</p>
            <p class="work-description">
              隣にいた短歌書く友達が言ってた言葉。
              無意識に韻踏むの面白いなと。
              「いかみみのきみもかわいい」きみが言い
              こころのなかで　わたしもいかみみ
              情景描写が伝わりきらないから結果没にしたらしい。せっかくなので写真とセットで出してみてとのこと。日常を綺麗にアウトプットできるの本当に羨ましい。
            </p>
            <button class="toggle-desc">もっと見る</button>
          </div>
        </div>

        <div class="work-card">
          <div class="photo-wrapper" data-full="public-images/2025-summer02_s.jpg">
            <div class="photo" style="background-image: url('public-images/2025-summer02_s.jpg');">
            </div>
            <div class="photo-overlay">
            </div>
          </div>

          <div class="work-info">
            <p class="work-number"><strong>No.02</strong></p>
            <p class="work-title">にらめっこ</p>
            <p class="work-author">N/A</p>
            <p class="work-camera">N/A</p>
            <p class="work-description">N/A</p>
            <button class="toggle-desc">もっと見る</button>
          </div>
        </div>

        <div class="work-card">
          <div class="photo-wrapper" data-full="public-images/2025-summer03_s.jpg">
            <div class="photo" style="background-image: url('public-images/2025-summer03_s.jpg');">
            </div>
            <div class="photo-overlay">
            </div>
          </div>
          <div class="work-info">
            <p class="work-number"><strong>No.03</strong></p>
            <p class="work-title">ノンフィクションズ</p>
            <p class="work-author">KR</p>
            <p class="work-camera">Canon EOS Kiss X7</p>
            <p class="work-description">N/A</p>
            <button class="toggle-desc">もっと見る</button>
          </div>
        </div>

        <div class="work-card">
          <div class="photo-wrapper" data-full="public-images/2025-summer04_s.jpg">
            <div class="photo" style="background-image: url('public-images/2025-summer04_s.jpg');">
            </div>
            <div class="photo-overlay">
            </div>
          </div>

          <div class="work-info">
            <p class="work-number"><strong>No.04</strong></p>
            <p class="work-title">麗らかな春のひと時</p>
            <p class="work-author">asa</p>
            <p class="work-camera">Nikon D3300</p>
            <p class="work-description">N/A</p>
          <button class="toggle-desc">もっと見る</button>
          </div>
        </div>

        <div class="work-card">
          <div class="photo-wrapper" data-full="public-images/2025-summer05_s.jpg">
            <div class="photo" style="background-image: url('public-images/2025-summer05_s.jpg');">
            </div>
            <div class="photo-overlay">
            </div>
          </div>

          <div class="work-info">
            <p class="work-number"><strong>No.05</strong></p>
            <p class="work-title">フェニックス</p>
            <p class="work-author" data-instagram="">
              Mei
              <!-- {% include insta-icon.html %} -->
            </p>
            <p class="work-camera">N/A</p>
            <p class="work-description">
              長岡花火思わず感動です。
            </p>
            <button class="toggle-desc">もっと見る</button>
          </div>
        </div>

        <div class="work-card">
          <div class="photo-wrapper" data-full="public-images/2025-summer06_s.jpg">
            <div class="photo" style="background-image: url('public-images/2025-summer06_s.jpg');">
            </div>
            <div class="photo-overlay">
            </div>
          </div>

          <div class="work-info">
            <p class="work-number"><strong>No.06</strong></p>
            <p class="work-title">初夏の足音</p>
            <p class="work-author" data-instagram="">
              Obi
              <!-- {% include insta-icon.html %} -->
            </p>
            <p class="work-camera">N/A</p>
            <p class="work-description">
              N/A
            </p>
            <button class="toggle-desc">もっと見る</button>
          </div>
        </div>

        <div class="work-card">
          <div class="photo-wrapper" data-full="public-images/2025-summer07_s.jpg">
            <div class="photo" style="background-image: url('public-images/2025-summer07_s.jpg');">
            </div>
            <div class="photo-overlay">
            </div>
          </div>

          <div class="work-info">
            <p class="work-number"><strong>No.07</strong></p>
            <p class="work-title">和</p>
            <p class="work-author" data-instagram="">
              asa
              <!-- {% include insta-icon.html %} -->
            </p>
            <p class="work-camera">Nikon D3300</p>
            <p class="work-description">
              東京都千代田区　靖国神社にて撮影

              日本ならではのものが大集会
              春から夏へと季節が移り変わる瞬間である。
            </p>
            <button class="toggle-desc">もっと見る</button>
          </div>
        </div>

        <div class="work-card">
          <div class="photo-wrapper" data-full="public-images/2025-summer08_s.jpg">
            <div class="photo" style="background-image: url('public-images/2025-summer08_s.jpg');">
            </div>
            <div class="photo-overlay">
            </div>
          </div>

          <div class="work-info">
            <p class="work-number"><strong>No.08</strong></p>
            <p class="work-title">再出発</p>
            <p class="work-author" data-instagram="">
              asa
              <!-- {% include insta-icon.html %} -->
            </p>
            <p class="work-camera">iPhone 12</p>
            <p class="work-description">
              神奈川県横浜市　横浜線沿いにて撮影

              バイト帰りの雨上がりに歩いてふと後ろを見たらこの光景が広がっていた。バイトで疲れてたけどこの光景に心が揺れた。
            </p>
            <button class="toggle-desc">もっと見る</button>
          </div>
        </div>

        <div class="work-card">
          <div class="photo-wrapper" data-full="public-images/2025-summer09_s.jpg">
            <div class="photo" style="background-image: url('public-images/2025-summer09_s.jpg');">
            </div>
            <div class="photo-overlay">
            </div>
          </div>

          <div class="work-info">
            <p class="work-number"><strong>No.09</strong></p>
            <p class="work-title">地下</p>
            <p class="work-author" data-instagram="">
              N/A
              <!-- {% include insta-icon.html %} -->
            </p>
            <p class="work-camera">Leica M4-2</p>
            <p class="work-description">
              N/A
            </p>
          <button class="toggle-desc">もっと見る</button>
          </div>
        </div>

        <div class="work-card">
          <div class="photo-wrapper" data-full="public-images/2025-summer10_s.jpg">
            <div class="photo" style="background-image: url('public-images/2025-summer10_s.jpg');">
            </div>
            <div class="photo-overlay">
            </div>
          </div>

          <div class="work-info">
            <p class="work-number"><strong>No.10</strong></p>
            <p class="work-title">黒漆</p>
            <p class="work-author" data-instagram="">
              N/A
              <!-- {% include insta-icon.html %} -->
            </p>
            <p class="work-camera">ZV-E10 markⅡ</p>
            <p class="work-description">
              すみだ水族館にて、夏のイベント「東京金魚」の展示を撮影した1枚です。真っ黒な空間の中、わずかな照明を受けて光る金魚の様子が、光沢ある漆を思わせたため、タイトルを「黒漆」としました。
            </p>
          <button class="toggle-desc">もっと見る</button>
          </div>
        </div>

        <div class="work-card">
          <div class="photo-wrapper" data-full="public-images/2025-summer11_s.jpg">
            <div class="photo" style="background-image: url('public-images/2025-summer11_s.jpg');">
            </div>
            <div class="photo-overlay">
            </div>
          </div>

          <div class="work-info">
            <p class="work-number"><strong>No.11</strong></p>
            <p class="work-title">捻り</p>
            <p class="work-author" data-instagram="">
              Takakichi
              <!-- {% include insta-icon.html %} -->
            </p>
            <p class="work-camera">PENTAX K-5</p>
            <p class="work-description">
              CV-22の展示飛行。世に聞くオスプレイとはこんな挙動をするのかというくらいには驚いてしまった。
            </p>
          <button class="toggle-desc">もっと見る</button>
          </div>
        </div>

        <div class="work-card">
          <div class="photo-wrapper" data-full="public-images/2025-summer12_s.jpg">
            <div class="photo" style="background-image: url('public-images/2025-summer12_s.jpg');">
            </div>
            <div class="photo-overlay">
            </div>
          </div>

          <div class="work-info">
            <p class="work-number"><strong>No.12</strong></p>
            <p class="work-title">Last Performance</p>
            <p class="work-author">Takakichi</p>
            <p class="work-camera">PENTAX K-5</p>
            <p class="work-description">
              今年度をもって退役するUH-1N(Iroquois)。年中聞こえたローター音ももうすぐ聞こえなくなると思うと寂しくなります。
            </p>
            <button class="toggle-desc">もっと見る</button>
          </div>
        </div>

        <div class="work-card">
          <div class="photo-wrapper" data-full="public-images/2025-summer13_s.jpg">
            <div class="photo" style="background-image: url('public-images/2025-summer13_s.jpg');">
            </div>
            <div class="photo-overlay">
            </div>
          </div>

          <div class="work-info">
            <p class="work-number"><strong>No.13</strong></p>
            <p class="work-title">Attempt!!</p>
            <p class="work-author">θ</p>
            <p class="work-camera">ROLLEI INFRARED400</p>
            <p class="work-description">
              720nmの光ってこんな感じ？？
            </p>
            <button class="toggle-desc">もっと見る</button>
          </div>
        </div>

        <div class="work-card">
          <div class="photo-wrapper" data-full="public-images/2025-summer14_s.jpg">
            <div class="photo" style="background-image: url('public-images/2025-summer14_s.jpg');">
            </div>
            <div class="photo-overlay">
            </div>
          </div>
          
          <div class="work-info">
            <p class="work-number"><strong>No.14</strong></p>
            <p class="work-title">愛</p>
            <p class="work-author">Takakichi</p>
            <p class="work-camera">PENTAX K-5</p>
            <p class="work-description">
              昨年末に生まれ、内外の放飼が始まり、観覧者にも姿を見せてくれるようになったインドサイの子ども。愛が感じられますな。
            </p>
          <button class="toggle-desc">もっと見る</button>
          </div>
        </div>

        <div class="work-card">
          <a href="public-images/2025-summer15_s.jpg" target="_blank">
            <img
              src="public-images/2025-summer15_s.jpg"
              alt="作品No.15 繊月 作者: someone"
            />
          </a>
          <div class="work-info">
            <p class="work-number"><strong>No.15</strong></p>
            <p class="work-title">繊月</p>
            <p class="work-author">N/A</p>
            <p class="work-camera">Nikon COOLPIX</p>
            <p class="work-description">
              N/A
            </p>
            <button class="toggle-desc">もっと見る</button>
          </div>
        </div>

        <div class="work-card">
          <a href="public-images/2025-summer16_s.jpg" target="_blank">
            <img
              src="public-images/2025-summer16_s.jpg"
              alt="作品No.16 東京タワーと月 作者: someone"
            />
          </a>
          <div class="work-info">
            <p class="work-number"><strong>No.16</strong></p>
            <p class="work-title">東京タワーと月</p>
            <p class="work-author">N/A</p>
            <p class="work-camera">Nikon COOLPIX</p>
            <p class="work-description">
              N/A
            </p>
          <button class="toggle-desc">もっと見る</button>
          </div>
        </div>

        <div class="work-card">
          <a href="public-images/2025-summer17_s.jpg" target="_blank">
            <img
              src="public-images/2025-summer17_s.jpg"
              alt="作品No.17 遠望の大輪 作者: someone"
            />
          </a>
          <div class="work-info">
            <p class="work-number"><strong>No.17</strong></p>
            <p class="work-title">遠望の大輪</p>
            <p class="work-author">N/A</p>
            <p class="work-camera">Nikon COOLPIX</p>
            <p class="work-description">
              N/A
            </p>
            <button class="toggle-desc">もっと見る</button>
          </div>
        </div>

        <div class="work-card">
          <a href="public-images/2025-summer18_s.jpg" target="_blank">
            <img
              src="public-images/2025-summer18_s.jpg"
              alt="作品No.18 桜花抄 作者: someone"
            />
          </a>
          <div class="work-info">
            <p class="work-number"><strong>No.18</strong></p>
            <p class="work-title">桜花抄</p>
            <p class="work-author">asa</p>
            <p class="work-camera">Nikon D3300</p>
            <p class="work-description">
              N/A
            </p>
            <button class="toggle-desc">もっと見る</button>
          </div>
        </div>

        <div class="work-card">
          <a href="public-images/2025-summer19_s.jpg" target="_blank">
            <img
              src="public-images/2025-summer19_s.jpg"
              alt="作品No.19 青に群れる 作者: someone"
            />
          </a>
          <div class="work-info">
            <p class="work-number"><strong>No.19</strong></p>
            <p class="work-title">青に群れる</p>
            <p class="work-author">作者: someone</p>
            <p class="work-camera">カメラ: Canon EOS R5</p>
            <p class="work-description">
              説明: これは作品の説明です。
            </p>
          <button class="toggle-desc">もっと見る</button>
          </div>
        </div>

        <div class="work-card">
          <a href="public-images/2025-summer20_s.jpg" target="_blank">
            <img
              src="public-images/2025-summer20_s.jpg"
              alt="作品No.20 黄昏のひととき 作者: someone"
            />
          </a>
          <div class="work-info">
            <p class="work-number"><strong>No.20</strong></p>
            <p class="work-title">黄昏のひととき</p>
            <p class="work-author">作者: someone</p>
            <p class="work-camera">カメラ: Canon EOS R5</p>
            <p class="work-description">説明: これは作品の説明です。</p>
          </div>
        </div>

        <div class="work-card">
          <a href="public-images/2025-summer21_s.jpg" target="_blank">
            <img
              src="public-images/2025-summer21_s.jpg"
              alt="作品No.21 花火を見る 作者: someone"
            />
          </a>
          <div class="work-info">
            <p class="work-number"><strong>No.21</strong></p>
            <p class="work-title">花火を見る</p>
            <p class="work-author">作者: someone</p>
            <p class="work-camera">カメラ: Canon EOS R5</p>
            <p class="work-description">説明: これは作品の説明です。</p>
          </div>
        </div>

        <div class="work-card">
          <a href="public-images/2025-summer22_s.jpg" target="_blank">
            <img
              src="public-images/2025-summer22_s.jpg"
              alt="作品No.22 影の花形 作者: someone"
            />
          </a>
          <div class="work-info">
            <p class="work-number"><strong>No.22</strong></p>
            <p class="work-title">影の花形</p>
            <p class="work-author">作者: someone</p>
            <p class="work-camera">カメラ: Canon EOS R5</p>
            <p class="work-description">説明: これは作品の説明です。</p>
          </div>
        </div>

        <div class="work-card">
          <a href="public-images/2025-summer23_s.jpg" target="_blank">
            <img
              src="public-images/2025-summer23_s.jpg"
              alt="作品No.23 扉 作者: someone"
            />
          </a>
          <div class="work-info">
            <p class="work-number"><strong>No.23</strong></p>
            <p class="work-title">扉</p>
            <p class="work-author">作者: someone</p>
            <p class="work-camera">カメラ: Canon EOS R5</p>
            <p class="work-description">説明: これは作品の説明です。</p>
          </div>
        </div>

        <div class="work-card">
          <a href="public-images/2025-summer24_s.jpg" target="_blank">
            <img
              src="public-images/2025-summer24_s.jpg"
              alt="作品No.24 赤と青 作者: someone"
            />
          </a>
          <div class="work-info">
            <p class="work-number"><strong>No.24</strong></p>
            <p class="work-title">赤と青</p>
            <p class="work-author">作者: someone</p>
            <p class="work-camera">カメラ: Canon EOS R5</p>
            <p class="work-description">説明: これは作品の説明です。</p>
          </div>
        </div>

        <div class="work-card">
          <a href="public-images/2025-summer25_s.jpg" target="_blank">
            <img
              src="public-images/2025-summer25_s.jpg"
              alt="作品No.25 あくび 作者: たかきち"
            />
          </a>
          <div class="work-info">
            <p class="work-number"><strong>No.25</strong></p>
            <p class="work-title">あくび</p>
            <p class="work-author">作者: たかきち</p>
            <p class="work-camera">カメラ: Canon EOS R5</p>
            <p class="work-description">説明: これは作品の説明です。</p>
          </div>
        </div>

        <div class="work-card">
          <a href="public-images/2025-summer26_s.jpg" target="_blank">
            <img
              src="public-images/2025-summer26_s.jpg"
              alt="作品No.26 奥社 作者: someone"
            />
          </a>
          <div class="work-info">
            <p class="work-number"><strong>No.26</strong></p>
            <p class="work-title">奥社</p>
            <p class="work-author">作者: someone</p>
            <p class="work-camera">カメラ: Canon EOS R5</p>
            <p class="work-description">説明: これは作品の説明です。</p>
          </div>
        </div>

        <div class="work-card">
          <a href="public-images/2025-summer27_s.jpg" target="_blank">
            <img
              src="public-images/2025-summer27_s.jpg"
              alt="作品No.27 Thunderbirds 作者: someone"
            />
          </a>
          <div class="work-info">
            <p class="work-number"><strong>No.27</strong></p>
            <p class="work-title">Thunderbirds</p>
            <p class="work-author">作者: someone</p>
            <p class="work-camera">カメラ: Canon EOS R5</p>
            <p class="work-description">説明: これは作品の説明です。</p>
          </div>
        </div>

        <div class="work-card">
          <a href="public-images/2025-summer28_s.jpg" target="_blank">
            <img
              src="public-images/2025-summer28_s.jpg"
              alt="作品No.28 Chicagoland 作者: someone"
            />
          </a>
          <div class="work-info">
            <p class="work-number"><strong>No.28</strong></p>
            <p class="work-title">Chicagoland</p>
            <p class="work-author">作者: someone</p>
            <p class="work-camera">カメラ: Canon EOS R5</p>
            <p class="work-description">説明: これは作品の説明です。</p>
          </div>
        </div>

        <div class="work-card">
          <a href="public-images/2025-summer29_s.jpg" target="_blank">
            <img
              src="public-images/2025-summer29_s.jpg"
              alt="作品No.29 兄妹 作者: someone"
            />
          </a>
          <div class="work-info">
            <p class="work-number"><strong>No.29</strong></p>
            <p class="work-title">兄妹</p>
            <p class="work-author">作者: someone</p>
            <p class="work-camera">カメラ: Canon EOS R5</p>
            <p class="work-description">説明: これは作品の説明です。</p>
          </div>
        </div>

        <div class="work-card">
          <a href="public-images/2025-summer30_s.jpg" target="_blank">
            <img
              src="public-images/2025-summer30_s.jpg"
              alt="作品No.30 静けさのなかに 作者: someone"
            />
          </a>
          <div class="work-info">
            <p class="work-number"><strong>No.30</strong></p>
            <p class="work-title">静けさのなかに</p>
            <p class="work-author">作者: someone</p>
            <p class="work-camera">カメラ: Canon EOS R5</p>
            <p class="work-description">説明: これは作品の説明です。</p>
          </div>
        </div>

        <div class="work-card">
          <a href="public-images/2025-summer31_s.jpg" target="_blank">
            <img
              src="public-images/2025-summer31_s.jpg"
              alt="作品No.31 木の子 作者: someone"
            />
          </a>
          <div class="work-info">
            <p class="work-number"><strong>No.31</strong></p>
            <p class="work-title">木の子</p>
            <p class="work-author">作者: someone</p>
            <p class="work-camera">カメラ: Canon EOS R5</p>
            <p class="work-description">説明: これは作品の説明です。</p>
          </div>
        </div>

        <div class="work-card">
          <a href="public-images/2025-summer32_s.jpg" target="_blank">
            <img
              src="public-images/2025-summer32_s.jpg"
              alt="作品No.32 或る喫茶店 作者: someone"
            />
          </a>
          <div class="work-info">
            <p class="work-number"><strong>No.32</strong></p>
            <p class="work-title">或る喫茶店</p>
            <p class="work-author">作者: someone</p>
            <p class="work-camera">カメラ: Canon EOS R5</p>
            <p class="work-description">説明: これは作品の説明です。</p>
          </div>
        </div>

        <div class="work-card">
          <a href="public-images/2025-summer33_s.jpg" target="_blank">
            <img
              src="public-images/2025-summer33_s.jpg"
              alt="作品No.33 陽映の岸辺 作者: someone"
            />
          </a>
          <div class="work-info">
            <p class="work-number"><strong>No.33</strong></p>
            <p class="work-title">陽映の岸辺</p>
            <p class="work-author">作者: someone</p>
            <p class="work-camera">カメラ: Canon EOS R5</p>
            <p class="work-description">説明: これは作品の説明です。</p>
          </div>
        </div>

        <div class="work-card">
          <a href="public-images/2025-summer34_s.jpg" target="_blank">
            <img
              src="public-images/2025-summer34_s.jpg"
              alt="作品No.34 天昇る螺旋階段 作者: someone"
            />
          </a>
          <div class="work-info">
            <p class="work-number"><strong>No.34</strong></p>
            <p class="work-title">天昇る螺旋階段</p>
            <p class="work-author">作者: someone</p>
            <p class="work-camera">カメラ: Canon EOS R5</p>
            <p class="work-description">説明: これは作品の説明です。</p>
          </div>
        </div>

        <div class="work-card">
          <a href="public-images/2025-summer35_s.jpg" target="_blank">
            <img
              src="public-images/2025-summer35_s.jpg"
              alt="作品No.35 JAPAN SUMMER 作者: someone"
            />
          </a>
          <div class="work-info">
            <p class="work-number"><strong>No.35</strong></p>
            <p class="work-title">JAPAN SUMMER</p>
            <p class="work-author">作者: someone</p>
            <p class="work-camera">カメラ: Canon EOS R5</p>
            <p class="work-description">説明: これは作品の説明です。</p>
          </div>
        </div>

        <div class="work-card">
          <a href="public-images/2025-summer36_s.jpg" target="_blank">
            <img
              src="public-images/2025-summer36_s.jpg"
              alt="作品No.36 秩父夜祭 作者: someone"
            />
          </a>
          <div class="work-info">
            <p class="work-number"><strong>No.36</strong></p>
            <p class="work-title">秩父夜祭</p>
            <p class="work-author">作者: someone</p>
            <p class="work-camera">カメラ: Canon EOS R5</p>
            <p class="work-description">説明: これは作品の説明です。</p>
          </div>
        </div>

        <div class="work-card">
          <a href="public-images/2025-summer37_s.jpg" target="_blank">
            <img
              src="public-images/2025-summer37_s.jpg"
              alt="作品No.37 時を刻む光 作者: someone"
            />
          </a>
          <div class="work-info">
            <p class="work-number"><strong>No.37</strong></p>
            <p class="work-title">時を刻む光</p>
            <p class="work-author">作者: someone</p>
            <p class="work-camera">カメラ: Canon EOS R5</p>
            <p class="work-description">説明: これは作品の説明です。</p>
          </div>
        </div>

        <div class="work-card">
          <a href="public-images/2025-summer38_s.jpg" target="_blank">
            <img
              src="public-images/2025-summer38_s.jpg"
              alt="作品No.38 白川劇場 作者: someone"
            />
          </a>
          <div class="work-info">
            <p class="work-number"><strong>No.38</strong></p>
            <p class="work-title">白川劇場</p>
            <p class="work-author">作者: someone</p>
            <p class="work-camera">カメラ: Canon EOS R5</p>
            <p class="work-description">説明: これは作品の説明です。</p>
          </div>
        </div>

        <div class="work-card">
          <a href="public-images/2025-summer39_s.jpg" target="_blank">
            <img
              src="public-images/2025-summer39_s.jpg"
              alt="作品No.39 魔法をかけて 作者: someone"
            />
          </a>
          <div class="work-info">
            <p class="work-number"><strong>No.39</strong></p>
            <p class="work-title">魔法をかけて</p>
            <p class="work-author">作者: someone</p>
            <p class="work-camera">カメラ: Canon EOS R5</p>
            <p class="work-description">説明: これは作品の説明です。</p>
          </div>
        </div>

        <div class="work-card">
          <a href="public-images/2025-summer40_s.jpg" target="_blank">
            <img
              src="public-images/2025-summer40_s.jpg"
              alt="作品No.40 春の風に吹かれて 作者: someone"
            />
          </a>
          <div class="work-info">
            <p class="work-number"><strong>No.40</strong></p>
            <p class="work-title">春の風に吹かれて</p>
            <p class="work-author">作者: someone</p>
            <p class="work-camera">カメラ: Canon EOS R5</p>
            <p class="work-description">説明: これは作品の説明です。</p>
          </div>
        </div>

        <div class="work-card">
          <a href="public-images/2025-summer41_s.jpg" target="_blank">
            <img
              src="public-images/2025-summer41_s.jpg"
              alt="作品No.41 水鏡のまち 作者: someone"
            />
          </a>
          <div class="work-info">
            <p class="work-number"><strong>No.41</strong></p>
            <p class="work-title">水鏡のまち</p>
            <p class="work-author">作者: someone</p>
            <p class="work-camera">カメラ: Canon EOS R5</p>
            <p class="work-description">説明: これは作品の説明です。</p>
          </div>
        </div>

        <div class="work-card">
          <a href="public-images/2025-summer42_s.jpg" target="_blank">
            <img
              src="public-images/2025-summer42_s.jpg"
              alt="作品No.42 花火と共に 作者: someone"
            />
          </a>
          <div class="work-info">
            <p class="work-number"><strong>No.42</strong></p>
            <p class="work-title">花火と共に</p>
            <p class="work-author">作者: someone</p>
            <p class="work-camera">カメラ: Canon EOS R5</p>
            <p class="work-description">説明: これは作品の説明です。</p>
          </div>
        </div>

        <div class="work-card">
          <a href="public-images/2025-summer43_s.jpg" target="_blank">
            <img
              src="public-images/2025-summer43_s.jpg"
              alt="作品No.43 待ちに待った春 作者: someone"
            />
          </a>
          <div class="work-info">
            <p class="work-number"><strong>No.43</strong></p>
            <p class="work-title">待ちに待った春</p>
            <p class="work-author">作者: someone</p>
            <p class="work-camera">カメラ: Canon EOS R5</p>
            <p class="work-description">説明: これは作品の説明です。</p>
          </div>
        </div>

        <div class="work-card">
          <a href="public-images/2025-summer44_s.jpg" target="_blank">
            <img
              src="public-images/2025-summer44_s.jpg"
              alt="作品No.44 孤城落月 作者: someone"
            />
          </a>
          <div class="work-info">
            <p class="work-number"><strong>No.44</strong></p>
            <p class="work-title">孤城落月</p>
            <p class="work-author">作者: someone</p>
            <p class="work-camera">カメラ: Canon EOS R5</p>
            <p class="work-description">説明: これは作品の説明です。</p>
          </div>
        </div>

        <div class="work-card">
          <a href="public-images/2025-summer45_s.jpg" target="_blank">
            <img
              src="public-images/2025-summer45_s.jpg"
              alt="作品No.45 碧き山河と山男 作者: someone"
            />
          </a>
          <div class="work-info">
            <p class="work-number"><strong>No.45</strong></p>
            <p class="work-title">碧き山河と山男</p>
            <p class="work-author">作者: someone</p>
            <p class="work-camera">カメラ: Canon EOS R5</p>
            <p class="work-description">説明: これは作品の説明です。</p>
          </div>
        </div>

        <div class="work-card">
          <a href="public-images/2025-summer46_s.jpg" target="_blank">
            <img
              src="public-images/2025-summer46_s.jpg"
              alt="作品No.46 Creamsoda 作者: someone"
            />
          </a>
          <div class="work-info">
            <p class="work-number"><strong>No.46</strong></p>
            <p class="work-title">Creamsoda</p>
            <p class="work-author">作者: someone</p>
            <p class="work-camera">カメラ: Canon EOS R5</p>
            <p class="work-description">説明: これは作品の説明です。</p>
          </div>
        </div>

        <div class="work-card">
          <a href="public-images/2025-summer47_s.jpg" target="_blank">
            <img
              src="public-images/2025-summer47_s.jpg"
              alt="作品No.47 紺碧 作者: someone"
            />
          </a>
          <div class="work-info">
            <p class="work-number"><strong>No.47</strong></p>
            <p class="work-title">紺碧</p>
            <p class="work-author">作者: someone</p>
            <p class="work-camera">カメラ: Canon EOS R5</p>
            <p class="work-description">説明: これは作品の説明です。</p>
          </div>
        </div>

        <div class="work-card">
          <a href="public-images/2025-summer48_s.jpg" target="_blank">
            <img
              src="public-images/2025-summer48_s.jpg"
              alt="作品No.48 静寂の彼方へ 作者: someone"
            />
          </a>
          <div class="work-info">
            <p class="work-number"><strong>No.48</strong></p>
            <p class="work-title">静寂の彼方へ</p>
            <p class="work-author">作者: someone</p>
            <p class="work-camera">カメラ: Canon EOS R5</p>
            <p class="work-description">説明: これは作品の説明です。</p>
          </div>
        </div>

        <div class="work-card">
          <a href="public-images/2025-summer49_s.jpg" target="_blank">
            <img
              src="public-images/2025-summer49_s.jpg"
              alt="作品No.49 フィルム録6 作者: someone"
            />
          </a>
          <div class="work-info">
            <p class="work-number"><strong>No.49</strong></p>
            <p class="work-title">フィルム録6</p>
            <p class="work-author">作者: someone</p>
            <p class="work-camera">カメラ: Canon EOS R5</p>
            <p class="work-description">説明: これは作品の説明です。</p>
          </div>
        </div>

        <div class="work-card">
          <a href="public-images/2025-summer50_s.jpg" target="_blank">
            <img
              src="public-images/2025-summer50_s.jpg"
              alt="作品No.50 フィルム録7 作者: someone"
            />
          </a>
          <div class="work-info">
            <p class="work-number"><strong>No.50</strong></p>
            <p class="work-title">フィルム録7</p>
            <p class="work-author">作者: someone</p>
            <p class="work-camera">カメラ: Canon EOS R5</p>
            <p class="work-description">説明: これは作品の説明です。</p>
          </div>
        </div>

        <div class="work-card">
          <a href="public-images/2025-summer51_s.jpg" target="_blank">
            <img
              src="public-images/2025-summer51_s.jpg"
              alt="作品No.51 活動記録2025春学期 作者: someone"
            />
          </a>
          <div class="work-info">
            <p class="work-number"><strong>No.51</strong></p>
            <p class="work-title">活動記録2025春学期</p>
            <p class="work-author">作者: someone</p>
            <p class="work-camera">カメラ: Canon EOS R5</p>
            <p class="work-description">説明: これは作品の説明です。</p>
          </div>
        </div>
      </div>

      <!-- 投票ボタン -->
      <div class="vote-container">
        <a href="#" class="button">投票フォームはこちら</a>
      </div>
      <!-- 戻るボタン
    <div style="text-align: center; margin-top: 2em;">
      <a href="2025-summer.html" class="button">← 戻る</a>
    </div> -->

