---
layout: default
title: 2025年度 学祭写真展 「燐光」 作品一覧
---

      <h2>2025年度 学祭写真展 「燐光」 作品一覧</h2>
      <p>番号を確認してから投票フォームに進んでください。</p>

      <!-- ギャラリー -->
      <div class="work-gallery">
        <div class="work-card">
          <div class="photo-wrapper" data-full="public-images/2025-gakusai01_s.jpg">
            <div class="photo" style="background-image: url('public-images/2025-gakusai01_s.jpg');">
            </div>
            <div class="photo-overlay">
            </div>
          </div>
          <div class="work-info">
            <p class="work-number"><strong>No.01</strong></p>
            <p class="work-title">タイトル</p>
            <p class="work-author" data-instagram="">
              someone
              <!-- {% include insta-icon.html %} -->
            </p>
            <p class="work-camera">
              camera model
            </p>
            <p class="work-description">
              description
            </p>
            <button class="toggle-desc">もっと見る</button>
          </div>
        </div>

        <div class="work-card">
          <div class="photo-wrapper" data-full="public-images/2025-gakusai02_s.jpg">
            <div class="photo" style="background-image: url('public-images/2025-gakusai02_s.jpg');">
            </div>
            <div class="photo-overlay">
            </div>
          </div>
          <div class="work-info">
            <p class="work-number"><strong>No.02</strong></p>
            <p class="work-title">タイトル2</p>
            <p class="work-author" data-instagram="">
              someone2
              <!-- {% include insta-icon.html %} -->
            </p>
            <p class="work-camera">
              camera model2
            </p>
            <p class="work-description">
              description2
            </p>
            <button class="toggle-desc">もっと見る</button>
          </div>
        </div>

        <div class="work-card">
          <div class="photo-wrapper" data-full="public-images/2025-gakusai03_s.jpg">
            <div class="photo" style="background-image: url('public-images/2025-gakusai03_s.jpg');">
            </div>
            <div class="photo-overlay">
            </div>
          </div>
          <div class="work-info">
            <p class="work-number"><strong>No.03</strong></p>
            <p class="work-title">タイトル3</p>
            <p class="work-author" data-instagram="">
              someone3
              <!-- {% include insta-icon.html %} -->
            </p>
            <p class="work-camera">
              camera model3
            </p>
            <p class="work-description">
              description3
            </p>
            <button class="toggle-desc">もっと見る</button>
          </div>
        </div>

        <div class="work-card">
          <div class="photo-wrapper" data-full="public-images/2025-gakusai04_s.jpg">
            <div class="photo" style="background-image: url('public-images/2025-gakusai04_s.jpg');">
            </div>
            <div class="photo-overlay">
            </div>
          </div>
          <div class="work-info">
            <p class="work-number"><strong>No.04</strong></p>
            <p class="work-title">タイトル4</p>
            <p class="work-author" data-instagram="">
              someone4
              <!-- {% include insta-icon.html %} -->
            </p>
            <p class="work-camera">
              camera model4
            </p>
            <p class="work-description">
              description4
            </p>
            <button class="toggle-desc">もっと見る</button>
          </div>
        </div>

        <div class="work-card">
          <div class="photo-wrapper" data-full="public-images/2025-gakusai05_s.jpg">
            <div class="photo" style="background-image: url('public-images/2025-gakusai05_s.jpg');">
            </div>
            <div class="photo-overlay">
            </div>
          </div>
          <div class="work-info">
            <p class="work-number"><strong>No.05</strong></p>
            <p class="work-title">タイトル5</p>
            <p class="work-author" data-instagram="">
              someone5
              <!-- {% include insta-icon.html %} -->
            </p>
            <p class="work-camera">
              camera model5
            </p>
            <p class="work-description">
              description5
            </p>
            <button class="toggle-desc">もっと見る</button>
          </div>
        </div>
      </div>

       <!-- 投票ボタン -->
      <div class="vote-container">
        <a href="#" class="button">投票フォームはこちら</a>
      </div>
      <!-- 戻るボタン
    <div style="text-align: center; margin-top: 2em;">
      <a href="2025-summer.html" class="button">← 戻る</a>
    </div> -->
