---
layout: default
title: 2025年度 学祭写真展 「燐光」 作品一覧
---

      <h2>2025年度 学祭写真展 「燐光」 作品一覧</h2>
      <p>番号を確認してから投票フォームに進んでください。</p>

      <!-- ギャラリー -->
      <div class="work-gallery">
        <div class="work-card">
          <div class="photo-wrapper" data-full="public-images/2025-gakusai01_s.jpeg">
            <div class="photo" style="background-image: url('public-images/2025-gakusai01_s.jpeg');">
            </div>
            <div class="photo-overlay">
            </div>
          </div>
          <div class="work-info">
            <p class="work-number"><strong>No.01</strong></p>
            <p class="work-title">夕華</p>
            <p class="work-author" data-instagram="">
              Betty
              <!-- {% include insta-icon.html %} -->
            </p>
            <p class="work-camera">
              OM-D E-M10 Mark IV
            </p>
            <p class="work-description">
              description
            </p>
            <button class="toggle-desc">もっと見る</button>
          </div>
        </div>

        <div class="work-card">
          <div class="photo-wrapper" data-full="public-images/2025-gakusai02_s.jpg">
            <div class="photo" style="background-image: url('public-images/2025-gakusai02_s.jpg');">
            </div>
            <div class="photo-overlay">
            </div>
          </div>
          <div class="work-info">
            <p class="work-number"><strong>No.02</strong></p>
            <p class="work-title">残光</p>
            <p class="work-author" data-instagram="">
              Takakichi
              <!-- {% include insta-icon.html %} -->
            </p>
            <p class="work-camera">
              PENTAX K-70
            </p>
            <p class="work-description">
              description2
            </p>
            <button class="toggle-desc">もっと見る</button>
          </div>
        </div>

        <div class="work-card">
          <div class="photo-wrapper" data-full="public-images/2025-gakusai03_s.jpg">
            <div class="photo" style="background-image: url('public-images/2025-gakusai03_s.jpg');">
            </div>
            <div class="photo-overlay">
            </div>
          </div>
          <div class="work-info">
            <p class="work-number"><strong>No.03</strong></p>
            <p class="work-title">無題</p>
            <p class="work-author" data-instagram="">
              Sase Minami
              <!-- {% include insta-icon.html %} -->
            </p>
            <p class="work-camera">
              Canon EOS Kiss X9
            </p>
            <p class="work-description">
              description3
            </p>
            <button class="toggle-desc">もっと見る</button>
          </div>
        </div>

        <div class="work-card">
          <div class="photo-wrapper" data-full="public-images/2025-gakusai04_s.jpg">
            <div class="photo" style="background-image: url('public-images/2025-gakusai04_s.jpg');">
            </div>
            <div class="photo-overlay">
            </div>
          </div>
          <div class="work-info">
            <p class="work-number"><strong>No.04</strong></p>
            <p class="work-title">海焔</p>
            <p class="work-author" data-instagram="">
              Betty
              <!-- {% include insta-icon.html %} -->
            </p>
            <p class="work-camera">
              OM-D E-M10 Mark IV
            </p>
            <p class="work-description">
              description4
            </p>
            <button class="toggle-desc">もっと見る</button>
          </div>
        </div>

        <div class="work-card">
          <div class="photo-wrapper" data-full="public-images/2025-gakusai05_s.jpg">
            <div class="photo" style="background-image: url('public-images/2025-gakusai05_s.jpg');">
            </div>
            <div class="photo-overlay">
            </div>
          </div>
          <div class="work-info">
            <p class="work-number"><strong>No.05</strong></p>
            <p class="work-title">彩風</p>
            <p class="work-author" data-instagram="">
              Lisa Maruyama
              <!-- {% include insta-icon.html %} -->
            </p>
            <p class="work-camera">
              Canon EOS 5D Mark III
            </p>
            <p class="work-description">
              description5
            </p>
            <button class="toggle-desc">もっと見る</button>
          </div>
        </div>

        <div class="work-card">
          <div class="photo-wrapper" data-full="public-images/2025-gakusai06_s.jpg">
            <div class="photo" style="background-image: url('public-images/2025-gakusai06_s.jpg');">
            </div>
            <div class="photo-overlay">
            </div>
          </div>
          <div class="work-info">
            <p class="work-number"><strong>No.06</strong></p>
            <p class="work-title">遥</p>
            <p class="work-author" data-instagram="">
              Irin OH
              <!-- {% include insta-icon.html %} -->
            </p>
            <p class="work-camera">
              Sony α7 III
            </p>
            <p class="work-description">
              description6
            </p>
            <button class="toggle-desc">もっと見る</button>
          </div>
        </div>

        <div class="work-card">
          <div class="photo-wrapper" data-full="public-images/2025-gakusai07_s.jpg">
            <div class="photo" style="background-image: url('public-images/2025-gakusai07_s.jpg');">
            </div>
            <div class="photo-overlay">
            </div>
          </div>
          <div class="work-info">
            <p class="work-number"><strong>No.07</strong></p>
            <p class="work-title">雪</p>
            <p class="work-author" data-instagram="">
              趙 紫安
              <!-- {% include insta-icon.html %} -->
            </p>
            <p class="work-camera">
              Apple iPhone 16 Pro Max
            </p>
            <p class="work-description">
              description7
            </p>
            <button class="toggle-desc">もっと見る</button>
          </div>
        </div>

        <div class="work-card">
          <div class="photo-wrapper" data-full="public-images/2025-gakusai08_s.jpg">
            <div class="photo" style="background-image: url('public-images/2025-gakusai08_s.jpg');">
            </div>
            <div class="photo-overlay">
            </div>
          </div>
          <div class="work-info">
            <p class="work-number"><strong>No.08</strong></p>
            <p class="work-title">Evolve of TSUBASA</p>
            <p class="work-author" data-instagram="">
              Si_13tk
              <!-- {% include insta-icon.html %} -->
            </p>
            <p class="work-camera">
              Apple iPhone 15
            </p>
            <p class="work-description">
              description8
            </p>
            <button class="toggle-desc">もっと見る</button>
          </div>
        </div>

        <div class="work-card">
          <div class="photo-wrapper" data-full="public-images/2025-gakusai09_s.jpg">
            <div class="photo" style="background-image: url('public-images/2025-gakusai09_s.jpg');">
            </div>
            <div class="photo-overlay">
            </div>
          </div>
          <div class="work-info">
            <p class="work-number"><strong>No.09</strong></p>
            <p class="work-title">光の航路</p>
            <p class="work-author" data-instagram="">
              Takakichi
              <!-- {% include insta-icon.html %} -->
            </p>
            <p class="work-camera">
              PENTAX K-70
            </p>
            <p class="work-description">
              description9
            </p>
            <button class="toggle-desc">もっと見る</button>
          </div>
        </div>

        <div class="work-card">
          <div class="photo-wrapper" data-full="public-images/2025-gakusai10_s.jpg">
            <div class="photo" style="background-image: url('public-images/2025-gakusai10_s.jpg');">
            </div>
            <div class="photo-overlay">
            </div>
          </div>
          <div class="work-info">
            <p class="work-number"><strong>No.10</strong></p>
            <p class="work-title">納得できない怒られ方</p>
            <p class="work-author" data-instagram="">
              Koji Sakaguchi
              <!-- {% include insta-icon.html %} -->
            </p>
            <p class="work-camera">
              ZV-E10 Mark II
            </p>
            <p class="work-description">
              description10
            </p>
            <button class="toggle-desc">もっと見る</button>
          </div>
        </div>

        <div class="work-card">
          <div class="photo-wrapper" data-full="public-images/2025-gakusai11_s.jpg">
            <div class="photo" style="background-image: url('public-images/2025-gakusai11_s.jpg');">
            </div>
            <div class="photo-overlay">
            </div>
          </div>
          <div class="work-info">
            <p class="work-number"><strong>No.11</strong></p>
            <p class="work-title">海の向こうに</p>
            <p class="work-author" data-instagram="">
              Lisa Maruyama
              <!-- {% include insta-icon.html %} -->
            </p>
            <p class="work-camera">
              Nikon Z50
            </p>
            <p class="work-description">
              description11
            </p>
            <button class="toggle-desc">もっと見る</button>
          </div>
        </div>

        <div class="work-card">
          <div class="photo-wrapper" data-full="public-images/2025-gakusai12_s.jpg">
            <div class="photo" style="background-image: url('public-images/2025-gakusai12_s.jpg');">
            </div>
            <div class="photo-overlay">
            </div>
          </div>
          <div class="work-info">
            <p class="work-number"><strong>No.12</strong></p>
            <p class="work-title">里装ふ</p>
            <p class="work-author" data-instagram="">
              Akira Suga
              <!-- {% include insta-icon.html %} -->
            </p>
            <p class="work-camera">
              Nikon Z70, NIKKOR Z 70-200mm F2.8 S
            </p>
            <p class="work-description">
              description12
            </p>
            <button class="toggle-desc">もっと見る</button>
          </div>
        </div>

        <div class="work-card">
          <div class="photo-wrapper" data-full="public-images/2025-gakusai13_s.jpg">
            <div class="photo" style="background-image: url('public-images/2025-gakusai13_s.jpg');">
            </div>
            <div class="photo-overlay">
            </div>
          </div>
          <div class="work-info">
            <p class="work-number"><strong>No.13</strong></p>
            <p class="work-title">孤高</p>
            <p class="work-author" data-instagram="">
              asa
              <!-- {% include insta-icon.html %} -->
            </p>
            <p class="work-camera">
              Nikon D3300
            </p>
            <p class="work-description">
              description13
            </p>
            <button class="toggle-desc">もっと見る</button>
          </div>
        </div>

        <div class="work-card">
          <div class="photo-wrapper" data-full="public-images/2025-gakusai14_s.jpg">
            <div class="photo" style="background-image: url('public-images/2025-gakusai14_s.jpg');">
            </div>
            <div class="photo-overlay">
            </div>
          </div>
          <div class="work-info">
            <p class="work-number"><strong>No.14</strong></p>
            <p class="work-title">水の惑星</p>
            <p class="work-author" data-instagram="">
              飯田智久
              <!-- {% include insta-icon.html %} -->
            </p>
            <p class="work-camera">
              Sony α7R III
            </p>
            <p class="work-description">
              description14
            </p>
            <button class="toggle-desc">もっと見る</button>
          </div>
        </div>

        <div class="work-card">
          <div class="photo-wrapper" data-full="public-images/2025-gakusai15_s.jpg">
            <div class="photo" style="background-image: url('public-images/2025-gakusai15_s.jpg');">
            </div>
            <div class="photo-overlay">
            </div>
          </div>
          <div class="work-info">
            <p class="work-number"><strong>No.15</strong></p>
            <p class="work-title">榛名秋寒</p>
            <p class="work-author" data-instagram="">
              Akira Suga
              <!-- {% include insta-icon.html %} -->
            </p>
            <p class="work-camera">
              Nikon Z6, NIKKOR Z 20mm F1.8 S
            </p>
            <p class="work-description">
              description15
            </p>
            <button class="toggle-desc">もっと見る</button>
          </div>
        </div>

        <div class="work-card">
          <div class="photo-wrapper" data-full="public-images/2025-gakusai16_s.jpg">
            <div class="photo" style="background-image: url('public-images/2025-gakusai16_s.jpg');">
            </div>
            <div class="photo-overlay">
            </div>
          </div>
          <div class="work-info">
            <p class="work-number"><strong>No.16</strong></p>
            <p class="work-title">空虚</p>
            <p class="work-author" data-instagram="">
              Yuka Kobayashi
              <!-- {% include insta-icon.html %} -->
            </p>
            <p class="work-camera">
              SIGMA fp
            </p>
            <p class="work-description">
              description16
            </p>
            <button class="toggle-desc">もっと見る</button>
          </div>
        </div>

        <div class="work-card">
          <div class="photo-wrapper" data-full="public-images/2025-gakusai17_s.jpg">
            <div class="photo" style="background-image: url('public-images/2025-gakusai17_s.jpg');">
            </div>
            <div class="photo-overlay">
            </div>
          </div>
          <div class="work-info">
            <p class="work-number"><strong>No.17</strong></p>
            <p class="work-title">木霊の舞</p>
            <p class="work-author" data-instagram="">
              飯田智久
              <!-- {% include insta-icon.html %} -->
            </p>
            <p class="work-camera">
              MINOLTA CLE
            </p>
            <p class="work-description">
              description17
            </p>
            <button class="toggle-desc">もっと見る</button>
          </div>
        </div>

        <div class="work-card">
          <div class="photo-wrapper" data-full="public-images/2025-gakusai18_s.jpg">
            <div class="photo" style="background-image: url('public-images/2025-gakusai18_s.jpg');">
            </div>
            <div class="photo-overlay">
            </div>
          </div>
          <div class="work-info">
            <p class="work-number"><strong>No.18</strong></p>
            <p class="work-title">風の通り道</p>
            <p class="work-author" data-instagram="">
              Koki Obi
              <!-- {% include insta-icon.html %} -->
            </p>
            <p class="work-camera">
              N/A
            </p>
            <p class="work-description">
              description18
            </p>
            <button class="toggle-desc">もっと見る</button>
          </div>
        </div>

        <div class="work-card">
          <div class="photo-wrapper" data-full="public-images/2025-gakusai19_s.jpg">
            <div class="photo" style="background-image: url('public-images/2025-gakusai19_s.jpg');">
            </div>
            <div class="photo-overlay">
            </div>
          </div>
          <div class="work-info">
            <p class="work-number"><strong>No.19</strong></p>
            <p class="work-title">夕焼け</p>
            <p class="work-author" data-instagram="">
              趙 紫安
              <!-- {% include insta-icon.html %} -->
            </p>
            <p class="work-camera">
              Apple iPhone 16 Pro Max
            </p>
            <p class="work-description">
              description19
            </p>
            <button class="toggle-desc">もっと見る</button>
          </div>
        </div>

        <div class="work-card">
          <div class="photo-wrapper" data-full="public-images/2025-gakusai20_s.jpg">
            <div class="photo" style="background-image: url('public-images/2025-gakusai20_s.jpg');">
            </div>
            <div class="photo-overlay">
            </div>
          </div>
          <div class="work-info">
            <p class="work-number"><strong>No.20</strong></p>
            <p class="work-title">調和する水殿と</p>
            <p class="work-author" data-instagram="">
              Si_13tk
              <!-- {% include insta-icon.html %} -->
            </p>
            <p class="work-camera">
              Canon EOS R50
            </p>
            <p class="work-description">
              description20
            </p>
            <button class="toggle-desc">もっと見る</button>
          </div>
        </div>

        <div class="work-card">
          <div class="photo-wrapper" data-full="public-images/2025-gakusai21_s.jpg">
            <div class="photo" style="background-image: url('public-images/2025-gakusai21_s.jpg');">
            </div>
            <div class="photo-overlay">
            </div>
          </div>
          <div class="work-info">
            <p class="work-number"><strong>No.21</strong></p>
            <p class="work-title">Voyager</p>
            <p class="work-author" data-instagram="">
              Koki Obi
              <!-- {% include insta-icon.html %} -->
            </p>
            <p class="work-camera">
              N/A
            </p>
            <p class="work-description">
              description21
            </p>
            <button class="toggle-desc">もっと見る</button>
          </div>
        </div>

        <div class="work-card">
          <div class="photo-wrapper" data-full="public-images/2025-gakusai22_s.jpg">
            <div class="photo" style="background-image: url('public-images/2025-gakusai22_s.jpg');">
            </div>
            <div class="photo-overlay">
            </div>
          </div>
          <div class="work-info">
            <p class="work-number"><strong>No.22</strong></p>
            <p class="work-title">夜闇</p>
            <p class="work-author" data-instagram="">
              Koji Sakaguchi
              <!-- {% include insta-icon.html %} -->
            </p>
            <p class="work-camera">
              ZV-E10 Mark II
            </p>
            <p class="work-description">
              description22
            </p>
            <button class="toggle-desc">もっと見る</button>
          </div>
        </div>

        <div class="work-card">
          <div class="photo-wrapper" data-full="public-images/2025-gakusai23_s.jpg">
            <div class="photo" style="background-image: url('public-images/2025-gakusai23_s.jpg');">
            </div>
            <div class="photo-overlay">
            </div>
          </div>
          <div class="work-info">
            <p class="work-number"><strong>No.23</strong></p>
            <p class="work-title">蒼鷺</p>
            <p class="work-author" data-instagram="">
              Tada Koki
              <!-- {% include insta-icon.html %} -->
            </p>
            <p class="work-camera">
              Nikon D5500
            </p>
            <p class="work-description">
              description23
            </p>
            <button class="toggle-desc">もっと見る</button>
          </div>
        </div>

        <div class="work-card">
          <div class="photo-wrapper" data-full="public-images/2025-gakusai24_s.jpg">
            <div class="photo" style="background-image: url('public-images/2025-gakusai24_s.jpg');">
            </div>
            <div class="photo-overlay">
            </div>
          </div>
          <div class="work-info">
            <p class="work-number"><strong>No.24</strong></p>
            <p class="work-title">マルタイ</p>
            <p class="work-author" data-instagram="">
              谷口 隆之介
              <!-- {% include insta-icon.html %} -->
            </p>
            <p class="work-camera">
              FUJIFILM X-T3
            </p>
            <p class="work-description">
              description24
            </p>
            <button class="toggle-desc">もっと見る</button>
          </div>
        </div>

        <div class="work-card">
          <div class="photo-wrapper" data-full="public-images/2025-gakusai25_s.jpg">
            <div class="photo" style="background-image: url('public-images/2025-gakusai25_s.jpg');">
            </div>
            <div class="photo-overlay">
            </div>
          </div>
          <div class="work-info">
            <p class="work-number"><strong>No.25</strong></p>
            <p class="work-title">The way back</p>
            <p class="work-author" data-instagram="">
              Keiko Kobayashi
              <!-- {% include insta-icon.html %} -->
            </p>
            <p class="work-camera">
              N/A
            </p>
            <p class="work-description">
              description25
            </p>
            <button class="toggle-desc">もっと見る</button>
          </div>
        </div>

        <div class="work-card">
          <div class="photo-wrapper" data-full="public-images/2025-gakusai26_s.jpg">
            <div class="photo" style="background-image: url('public-images/2025-gakusai26_s.jpg');">
            </div>
            <div class="photo-overlay">
            </div>
          </div>
          <div class="work-info">
            <p class="work-number"><strong>No.26</strong></p>
            <p class="work-title">ブラッドムーン</p>
            <p class="work-author" data-instagram="">
              Kazutaka Ishii
              <!-- {% include insta-icon.html %} -->
            </p>
            <p class="work-camera">
              Nikon COOLPIX B600
            </p>
            <p class="work-description">
              description26
            </p>
            <button class="toggle-desc">もっと見る</button>
          </div>
        </div>

        <div class="work-card">
          <div class="photo-wrapper" data-full="public-images/2025-gakusai27_s.jpg">
            <div class="photo" style="background-image: url('public-images/2025-gakusai27_s.jpg');">
            </div>
            <div class="photo-overlay">
            </div>
          </div>
          <div class="work-info">
            <p class="work-number"><strong>No.27</strong></p>
            <p class="work-title">あきこまの記憶</p>
            <p class="work-author" data-instagram="">
              Kanade
              <!-- {% include insta-icon.html %} -->
            </p>
            <p class="work-camera">
              Canon EOS Kiss X8i
            </p>
            <p class="work-description">
              description27
            </p>
            <button class="toggle-desc">もっと見る</button>
          </div>
        </div>

        <div class="work-card">
          <div class="photo-wrapper" data-full="public-images/2025-gakusai28_s.jpg">
            <div class="photo" style="background-image: url('public-images/2025-gakusai28_s.jpg');">
            </div>
            <div class="photo-overlay">
            </div>
          </div>
          <div class="work-info">
            <p class="work-number"><strong>No.28</strong></p>
            <p class="work-title">阿佐ヶ谷にて</p>
            <p class="work-author" data-instagram="">
              62
              <!-- {% include insta-icon.html %} -->
            </p>
            <p class="work-camera">
              Canon EOS 90D
            </p>
            <p class="work-description">
              description28
            </p>
            <button class="toggle-desc">もっと見る</button>
          </div>
        </div>

        <div class="work-card">
          <div class="photo-wrapper" data-full="public-images/2025-gakusai29_s.jpg">
            <div class="photo" style="background-image: url('public-images/2025-gakusai29_s.jpg');">
            </div>
            <div class="photo-overlay">
            </div>
          </div>
          <div class="work-info">
            <p class="work-number"><strong>No.29</strong></p>
            <p class="work-title">雨にもまけず咲く花火</p>
            <p class="work-author" data-instagram="">
              ぴょん
              <!-- {% include insta-icon.html %} -->
            </p>
            <p class="work-camera">
              Sony α7 III
            </p>
            <p class="work-description">
              description29
            </p>
            <button class="toggle-desc">もっと見る</button>
          </div>
        </div>

        <div class="work-card">
          <div class="photo-wrapper" data-full="public-images/2025-gakusai30_s.jpg">
            <div class="photo" style="background-image: url('public-images/2025-gakusai30_s.jpg');">
            </div>
            <div class="photo-overlay">
            </div>
          </div>
          <div class="work-info">
            <p class="work-number"><strong>No.30</strong></p>
            <p class="work-title">秋桜の蜜</p>
            <p class="work-author" data-instagram="">
              Kazutaka Ishii
              <!-- {% include insta-icon.html %} -->
            </p>
            <p class="work-camera">
              Nikon COOLPIX B600
            </p>
            <p class="work-description">
              description30
            </p>
            <button class="toggle-desc">もっと見る</button>
          </div>
        </div>

        <div class="work-card">
          <div class="photo-wrapper" data-full="public-images/2025-gakusai31_s.jpg">
            <div class="photo" style="background-image: url('public-images/2025-gakusai31_s.jpg');">
            </div>
            <div class="photo-overlay">
            </div>
          </div>
          <div class="work-info">
            <p class="work-number"><strong>No.31</strong></p>
            <p class="work-title">変わり行く空の色</p>
            <p class="work-author" data-instagram="">
              ぴょん
              <!-- {% include insta-icon.html %} -->
            </p>
            <p class="work-camera">
              Sony α7 III
            </p>
            <p class="work-description">
              description31
            </p>
            <button class="toggle-desc">もっと見る</button>
          </div>
        </div>

        <div class="work-card">
          <div class="photo-wrapper" data-full="public-images/2025-gakusai32_s.jpg">
            <div class="photo" style="background-image: url('public-images/2025-gakusai32_s.jpg');">
            </div>
            <div class="photo-overlay">
            </div>
          </div>
          <div class="work-info">
            <p class="work-number"><strong>No.32</strong></p>
            <p class="work-title">六根清浄</p>
            <p class="work-author" data-instagram="">
              Ryota Hidaka
              <!-- {% include insta-icon.html %} -->
            </p>
            <p class="work-camera">
              YASHICA FX-3 Super
            </p>
            <p class="work-description">
              description32
            </p>
            <button class="toggle-desc">もっと見る</button>
          </div>
        </div>

        <div class="work-card">
          <div class="photo-wrapper" data-full="public-images/2025-gakusai33_s.jpg">
            <div class="photo" style="background-image: url('public-images/2025-gakusai33_s.jpg');">
            </div>
            <div class="photo-overlay">
            </div>
          </div>
          <div class="work-info">
            <p class="work-number"><strong>No.33</strong></p>
            <p class="work-title">アルクトーキョー</p>
            <p class="work-author" data-instagram="">
              Sase Minami
              <!-- {% include insta-icon.html %} -->
            </p>
            <p class="work-camera">
              Canon EOS Kiss X9
            </p>
            <p class="work-description">
              description33
            </p>
            <button class="toggle-desc">もっと見る</button>
          </div>
        </div>

        <div class="work-card">
          <div class="photo-wrapper" data-full="public-images/2025-gakusai34_s.jpg">
            <div class="photo" style="background-image: url('public-images/2025-gakusai34_s.jpg');">
            </div>
            <div class="photo-overlay">
            </div>
          </div>
          <div class="work-info">
            <p class="work-number"><strong>No.34</strong></p>
            <p class="work-title">Creamsoda</p>
            <p class="work-author" data-instagram="">
              Nakamura Mitsuki
              <!-- {% include insta-icon.html %} -->
            </p>
            <p class="work-camera">
              OLYMPUS OM-D EM-5 Mark III
            </p>
            <p class="work-description">
              description34
            </p>
            <button class="toggle-desc">もっと見る</button>
          </div>
        </div>

        <div class="work-card">
          <div class="photo-wrapper" data-full="public-images/2025-gakusai35_s.jpg">
            <div class="photo" style="background-image: url('public-images/2025-gakusai35_s.jpg');">
            </div>
            <div class="photo-overlay">
            </div>
          </div>
          <div class="work-info">
            <p class="work-number"><strong>No.35</strong></p>
            <p class="work-title">寒夕焼</p>
            <p class="work-author" data-instagram="">
              62
              <!-- {% include insta-icon.html %} -->
            </p>
            <p class="work-camera">
              Canon EOS 90D
            </p>
            <p class="work-description">
              description35
            </p>
            <button class="toggle-desc">もっと見る</button>
          </div>
        </div>

        <div class="work-card">
          <div class="photo-wrapper" data-full="public-images/2025-gakusai36_s.jpg">
            <div class="photo" style="background-image: url('public-images/2025-gakusai36_s.jpg');">
            </div>
            <div class="photo-overlay">
            </div>
          </div>
          <div class="work-info">
            <p class="work-number"><strong>No.36</strong></p>
            <p class="work-title">YOKOHAMA bright</p>
            <p class="work-author" data-instagram="">
              谷口 隆之介
              <!-- {% include insta-icon.html %} -->
            </p>
            <p class="work-camera">
              FUJIFILM X-T3
            </p>
            <p class="work-description">
              description36
            </p>
            <button class="toggle-desc">もっと見る</button>
          </div>
        </div>

        <div class="work-card">
          <div class="photo-wrapper" data-full="public-images/2025-gakusai37_s.jpg">
            <div class="photo" style="background-image: url('public-images/2025-gakusai37_s.jpg');">
            </div>
            <div class="photo-overlay">
            </div>
          </div>
          <div class="work-info">
            <p class="work-number"><strong>No.37</strong></p>
            <p class="work-title">秋の蜜</p>
            <p class="work-author" data-instagram="">
              asa
              <!-- {% include insta-icon.html %} -->
            </p>
            <p class="work-camera">
              Nikon D3300
            </p>
            <p class="work-description">
              description37
            </p>
            <button class="toggle-desc">もっと見る</button>
          </div>
        </div>

        <div class="work-card">
          <div class="photo-wrapper" data-full="public-images/2025-gakusai38_s.jpg">
            <div class="photo" style="background-image: url('public-images/2025-gakusai38_s.jpg');">
            </div>
            <div class="photo-overlay">
            </div>
          </div>
          <div class="work-info">
            <p class="work-number"><strong>No.38</strong></p>
            <p class="work-title">潮騒</p>
            <p class="work-author" data-instagram="">
              Keiko Kobayashi
              <!-- {% include insta-icon.html %} -->
            </p>
            <p class="work-camera">
              Sony α6400
            </p>
            <p class="work-description">
              description38
            </p>
            <button class="toggle-desc">もっと見る</button>
          </div>
        </div>

        <div class="work-card">
          <div class="photo-wrapper" data-full="public-images/2025-gakusai39_s.jpg">
            <div class="photo" style="background-image: url('public-images/2025-gakusai39_s.jpg');">
            </div>
            <div class="photo-overlay">
            </div>
          </div>
          <div class="work-info">
            <p class="work-number"><strong>No.39</strong></p>
            <p class="work-title">撫ででくれたお礼に可愛いを</p>
            <p class="work-author" data-instagram="">
              Mitsuki Nakamura
              <!-- {% include insta-icon.html %} -->
            </p>
            <p class="work-camera">
              OLYMPUS OM-D EM-5 Mark III
            </p>
            <p class="work-description">
              description39
            </p>
            <button class="toggle-desc">もっと見る</button>
          </div>
        </div>

        <div class="work-card">
          <div class="photo-wrapper" data-full="public-images/2025-gakusai40_s.jpg">
            <div class="photo" style="background-image: url('public-images/2025-gakusai40_s.jpg');">
            </div>
            <div class="photo-overlay">
            </div>
          </div>
          <div class="work-info">
            <p class="work-number"><strong>No.40</strong></p>
            <p class="work-title">花の浮島</p>
            <p class="work-author" data-instagram="">
              Ryota Hidaka
              <!-- {% include insta-icon.html %} -->
            </p>
            <p class="work-camera">
              YASHICA FX-3 Super
            </p>
            <p class="work-description">
              description40
            </p>
            <button class="toggle-desc">もっと見る</button>
          </div>
        </div>
      </div>

       <!-- 投票ボタン -->
      <div class="vote-container">
        <a href="#" class="button">投票フォームはこちら</a>
      </div>
      <!-- 戻るボタン
    <div style="text-align: center; margin-top: 2em;">
      <a href="2025-summer.html" class="button">← 戻る</a>
    </div> -->
