<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <meta name="description" content="法政大学 小金井写真部の公式写真展サイト。">
  <meta name="keywords" content="法政大学, 小金井, 写真部, 写真展, 学祭, 夏, 冬">
  <meta name="google-site-verification" content="WHZ2rUQexij4kTH4cHRvs5pDwTP-0kCc_QZaRWW92ME" />
  <link rel="stylesheet" href="{{ "/css/style.css" | relative_url }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes">
  <!-- Favicon -->
  <link rel="icon" href="{{ "/images/favicon.png" | relative_url }}" type="image/png">

  <!-- OGP -->
  <meta property="og:title" content="法政大学 小金井写真部 - 写真展">
  <meta property="og:description" content="2025年度からの夏・学祭・冬の写真展情報、作品一覧、投票結果を掲載。">
  <meta property="og:image" content="{{ "/images/club-icon.JPG" | relative_url }}">
  <meta property="og:url" content="{{ "/" | relative_url }}">
  <meta property="og:type" content="website">
</head>
<body>
<!-- 上段ヘッダー＋ナビをまとめる -->
<div id="header-wrapper">
  <header id="main-header">
    <div class="header-content">
      <a href="{{ "/" | relative_url }}"><img src="{{ "/images/club-icon.JPG" | relative_url }}" alt="写真部アイコン" class="logo">
      <div class="site-title">
        <h1>法政大学 小金井写真部</h1>
        <p>写真展</p>
      </div></a>
    </div>
  </header>

  <nav class="navbar">
    <ul>
      {% for year in site.data.exhibitions %}
        {% for season in year[1] %}
          {% assign data = season[1] %}
          {% if data.published %}
            <li><a href="{{ data.url | relative_url }}">{{ data.title }}</a></li>
          {% else %}
            <li><a href="#" class="disabled">{{ data.title }}</a></li>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </ul>
  </nav>
</div>

  <main>
    {{ content }}
  </main>

  <!-- フッター -->
<footer>
  <p>Copyright &copy; 2025 法政大学 小金井写真部 All Rights Reserved.</p>
  <p>Designed by Takakichi</p>
  <div class="sns-links">
    <a href="https://www.instagram.com/photo_koganei" target="_blank">Instagram</a> |
    <a href="https://x.com/koganei_photo" target="_blank">X</a>
  </div>
</footer>
<script src="{{ "/js/script.js" | relative_url }}"></script>
<script src="{{ "/js/exhibition-control.js" | relative_url }}"></script>
</body>
</html>
